.boot-screen {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--bulma-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: blinkingStart 5s linear;

  .title {
    color: var(--bulma-primary);
    font-family: "Silkscreen";
  }

  .loading-dots {
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;

    span {
      animation: blink 1.4s infinite;
      
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blinkingStart {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.3;
  }
  11% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.3;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

