.level-selection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .title {
    color: var(--bulma-primary);
    font-family: "Silkscreen", sans-serif;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .games-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;

    .game-item {
      background: rgba(0, 0, 0, 0.7);
      border: none;
      border-radius: 0;
      padding: 0.75rem;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: "Silkscreen", sans-serif;
      font-weight: bold;

      &:hover,
      &.selected {
        background: var(--bulma-primary);
        
        .game-arrow,
        .game-title {
          color: #000;
        }
      }

      .game-arrow {
        color: var(--bulma-primary);
        font-size: 1.2rem;
        font-weight: bold;
      }

      .game-title {
        color: var(--bulma-primary);
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
