.carousel {
  position: relative;

  &.is-fullheight {
    height: 100vh;
    overflow-x: hidden;
  }

  .slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;

    transition: transform .75s ease;

    .slide {
      width: 100vw;
      min-height: 100%;

      .slide-body {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .slide-button {
    position: absolute;
    top: 45%;
    color: rgb(208, 205, 205);
    font-size: 4rem;
    font-family: "Silkscreen";
    text-shadow: 0px 0px 5px black;
    transition: all .5s ease;

    &.next {
      right: 1rem;
    }

    &.previous {
      left: 1rem;
    }

    &:not(.disabled):focus, &:not(.disabled):hover {
      color: white;
      text-shadow: 0px 0px 10px white;
    }

    &.disabled {
      color: rgb(140, 140, 140);
      cursor: inherit;
    }
  }

  .carousel-buttons {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    margin: auto;

    a {
      background: rgb(204, 204, 204);
      padding: .4rem;
      border-radius: 100px;
      display: inline-block;
      margin: .25rem;

      &.active {
        background: white;
        box-shadow: 0px 0px 10px white;
      }
    }
  }
}
