.slide-body.matrix {
  background-image: url('/images/matrix.jpg');
  background-size: cover;
}

.slide-body.thegoodthebadtheugly {
  background-image: url('/images/standoff.jpg');
  background-size: cover;
}
