.slide-body.matrix {
  background-image: url('/images/matrix.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-body.thegoodthebadtheugly {
  background-image: url('/images/standoff.jpg');
  background-size: cover;
}

.slide-body.paint {
  background-image: url('/images/background.jpeg');
  background-size: cover;
}
