@import './variables.scss';
@import './../../node_modules/bulma';

.hero{
  &.is-primary {
    background-color: $hero-primary;

    @media only screen and (max-width: $tablet) {
      background-color: $primary-700;
    }
  }

  .columns {
    .column {
      display: flex;
      justify-content: center;
    }
  }

  position: relative;
}

.section {
  &.is-primary-900 {
    background: $primary-900;

    .title {
      color: $white;
    }
  }

  &.is-primary-100 {
    background: $primary-100;
  }

  &#business {
    padding-top: 10em;

  }
  &#about-me {
    padding-bottom: 10em;
  }
}

.button {
  &.is-primary {
    &:hover {
      background: $primary-700;
    }
  }
}

.mini-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    padding: .5em;
    text-align: center;
  }
}

#about-me {
  position: relative;
}


.is-rainbow-text {
  animation: rainbowText 5s infinite;
}

@keyframes rainbowText {
  0% {
    color: $rainbowRed;
  }
  15% {
    color: $rainbowOrange;
  }
  30% {
    color: $rainbowYellow;
  }
  45% {
    color: $rainbowGreen;
  }
  60% {
    color: $rainbowBlue;
  }
  75% {
    color: $rainbowViolet;
  }
  100% {
    color: $rainbowRed;
  }
}
