@import './variables.scss';
@import './../../node_modules/bulma';

.hero{
  &.is-primary {
    background-color: $hero-primary;

    @media only screen and (max-width: $tablet) {
      background-color: $primary-700;
    }
  }

  .columns {
    .column {
      display: flex;
      justify-content: center;
    }
  }

  position: relative;
}

.section {
  &.is-primary-900 {
    background: $primary-900;

    .title {
      color: $white;
    }
  }

  &#about-me {
    padding-top: 10em;
    padding-bottom: 10em;
  }
}

.button {
  &.is-primary {
    &:hover {
      background: $primary-700;
    }
  }
}

.mini-links {
  display: flex;
  flex-direction: row;

  li {
    padding: .5em;
    text-align: center;
  }
}

#about-me {
  position: relative;
}
