@use "bulma/sass/utilities/mixins";

.hero.is-timemachine {
    background-image: linear-gradient(180deg, var(--bulma-primary-10), var(--bulma-info));
}

.time-machine {
  padding-top: 4rem;

  .card-stack {
    z-index: 100;
    position: relative;
    @include mixins.tablet {
      padding: 0rem 10vw;
    }
    .card {
      z-index: 100;
      background: white;
      padding: 2rem 4rem;
      padding-top: .5rem;
      padding-bottom: 6rem;
      position: sticky;
      top: 0;
      margin-bottom: 4rem;
      border-radius: 1rem;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,.018);

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 20rem;
      }

      @for $i from 1 through 9 {
        &:nth-child(#{$i}n) {
          top: $i * 2rem;
        }
      }

      .subtitle {
        font-family: "Silkscreen";
        color: var(--bulma-primary-30);

        @include mixins.tablet {
          font-size: 1.2vw;
        }
      }

      .title {
        color: var(--bulma-info-40);
      }

      small {
        font-style: italic;
        // color: black;
        font-size: .8rem;
      }
    }
  }

  .bottom-reveal {
    position: sticky;
    bottom: 5vh;
    z-index: 0;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}
