@use "bulma/sass/utilities/mixins";

.time-machine {
  padding-top: 4rem;
  .card-stack {
    z-index: 100;
    @include mixins.tablet {
      padding: 0rem 10vw;
    }

    .card {
      z-index: 100;
      background: white;
      padding: 2rem 4rem;
      padding-bottom: 6rem;
      position: sticky;
      top: 0;
      margin-bottom: 4rem;
      border-radius: 1rem;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,.018);

      &:last-child {
        margin-bottom: 0;
      }
  
      @for $i from 1 through 9 {
        &:nth-child(#{$i}n) {
          top: $i * 4rem;
        }
      }

      .subtitle {
        font-family: "Silkscreen";
        @include mixins.tablet {
          font-size: 1.2vw;
        }
      }

      small {
        font-style: italic;
        color: black;
        font-size: .8rem;
      }
    }
  }

  .bottom-reveal {
    position: sticky;
    bottom: 5vh;
    z-index: 0;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}
