#old-terminal {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  box-shadow: 0px .5rem 1rem 1rem rgba(0,0,0,.5);

  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;

  .monitor-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
  }

  .boot-screen {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 80vw;
    height: 70vh;
    color: var(--bulma-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: blinkingStart 5s linear;

    .title {
      color: var(--bulma-primary);
      font-family: 'Silkscreen';
    }

    &.show-boot {
      display: flex;
    }
  }

  .screen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 80vw;
    height: 70vh;
    overflow-y: scroll;
    color: var(--bulma-primary);
    display: flex;
    flex-direction: column-reverse;

    &.off {
      display: none;
    }

    .cursor {
      display: none;
      width: 10px;
      height: 16px;
      background-color: var(--bulma-primary);
      animation: blinker 1s linear infinite;
      position: absolute;
      bottom: 2px;
    }

    .text-input {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    input {
      display: inline-block;
      width: auto;
      background: none;
      border: none;
      outline: none;
      color: var(--bulma-primary);
      caret-color: transparent;
      font-family: "Silkscreen";
      width: 100%;

      &:hover, &:active, &:focus {
        outline: none;
        box-shadow: none;
      }

      &:focus {
        & + .cursor {
          display: inline-block;
        }
      }
    }

    .content {
      p {
        margin-bottom: .5rem;
      }
    }
  }
}

#dosbox {
  position: absolute;
  top: 0;
  left: 0;
}

.dosbox-container { width: 320px; height: 200px; }
.dosbox-container > .dosbox-overlay { background: url(https://js-dos.com/cdn/DOOM.png); }

@keyframes blinker {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0
  }
  71% {
    opacity: 1;
  }
}

@keyframes blinkingStart {
  0% {
    opacity: 0;
  }
  1% {
    opacity: .3;
  }
  10% {
    opacity: .3;
  }
  11% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: .3;
  }
  20% {
    opacity: .3;
  }
  21% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
