@import './../styles/variables.scss';

$linearWidth: .5em;

.box-header {
  text-align: center;
  padding: 2em;

  img {
    border-radius: 100%;
    max-width: 10em;
    margin-bottom: 1em;
    box-shadow: 0 0 .5em rgba(0,0,0,.4);
  }
}

.hero-body {
  justify-content: center;

  .loader {
    border-left-color: $primary;
    border-bottom-color: $primary;
    height: 5em;
    width: 5em;
  }
}

.selected-words {
  background: $primary-100;
  border-radius: .2em;
}

.column.is-linear-container {
  max-width: 3em;
  display: none !important;
  justify-content: center;

  @media only screen and (min-width: $desktop) {
    display: flex !important;
  }
}

#employment {
  .employment-history{
    &:first-of-type {
      .linear {
        border-radius: 1em 1em 0 0;
      }
    }

    &:last-of-type {
      .linear {
        height: 100%;
        border-radius: 0 0 1em 1em;
      }
    }
  }
}

.employment-history {
  .content {
    padding: 2em .5em;

    & > .content {
      padding: 1em 0;
    }
  }
}

.linear {
  background: $primary-300;
  height: 106%;
  width: $linearWidth;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 2.2em;
    left: 0 - $linearWidth / 4;
    width: $linearWidth + ($linearWidth / 2);
    height: $linearWidth + ($linearWidth / 2);
    border: $linearWidth / 4 solid white;
    border-radius: 100%;
    background: $primary-500;
    display: block;
  }
}

#achievements {
  ul li {
    list-style: "🏆";
    padding-left: 1em;
  }
}

#projects {
  .level-item {
    margin-left: 1em;
    @media only screen and (max-width: $tablet) {
      margin-left: inherit;
    }

    a {
      color: $primary;
      font-size: .8em;
      text-decoration: underline;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
}
