@import './../styles/variables.scss';

$contactBackground: #2f3346;

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.18);
  backdrop-filter: blur(2px);
  z-index: 998;
  display: none;

  &.is-active {
    display: block;
  }
}

#contact {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 30em;
  right: -30em;
  z-index: 999;
  background: $white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3em 3em rgba(0,0,0,.5);
  transition: right .5s ease;
  display: flex;

  &.is-active {
    right: 0em;
  }

  @media (prefers-color-scheme: dark) {
    background: $contactBackground;
    .title {
      color: $primary-50;
    }

    .subtitle {
      color: $primary-100;
    }
  }

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }

  .contact-header {
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:after {
      background: -webkit-linear-gradient($white, transparent);
      @media (prefers-color-scheme: dark) {
        background: -webkit-linear-gradient($contactBackground, transparent);
      }
      content: '';
      position: absolute;
      top: 100%;
      height: 3em;
      left: 0;
      right: 0;
    }

    .close-button {
      a {
        font-size: 2em;
        color: $primary;

        @media (prefers-color-scheme: dark) {
          color: $white;
        }
      }
    }
  }

  .contact-body {
    flex-grow: 10;
    overflow-y: scroll;

    .contact-body-messages {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
    }

    .message-avatar {
      border-radius: 2em;
      width: 1em;
      height: 1em;
      background: grey;
      margin: .5em;
      padding: 1em;
    }

    .message-input {
      display: flex;
      flex-direction: row;
      margin: .5em;
      align-items: flex-end;
      color: $white;

      .message-stack {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &.is-bot {
        flex-direction: row-reverse;

        .message-stack {
          align-items: flex-end;
        }

        .message-bubble {
          background: grey;
          &:last-child {
            border-radius: .5em .5em 0 .5em;
          }
        }
      }

      &.is-user {
        .message-stack {
          align-items: flex-start;
        }

        .message-bubble {
          background: $primary;

          &:last-child {
            border-radius: .5em .5em .5em 0;
          }
        }
      }
    }

    img.message-bubble {
      background: none !important;
      padding: 0;
    }

    .message-bubble {
      border-radius: .75em;
      display: inline-block;
      padding: .5em;
      margin: .1em;
    }
  }

  .contact-input {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    textarea {
      flex-grow: 10;
      margin: .5em;
      resize: none;
      border-radius: 1em;
      font-size: 1.25em;
      padding: .25em .5em;
      height: 3em;

      &:active, &:hover, &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .button {
      margin: .5em;
      align-self: center;
    }
  }
}
