@import './../styles/variables.scss';

$recruitmentStatus: $rainbowOrange;

.recruitment-notifier {
  font-size: 2em;
  color: $white;
  padding: .5em;

  .title {
    margin-bottom: 0 !important;
  }

  .notification-status {
    width: .5em;
    height: .5em;
    border-radius: 1em;
    background: $recruitmentStatus;
    box-shadow: 0 0 .5em $recruitmentStatus;
    display: inline-block;
    margin-right: .5em;
    animation: lightFlash 1s infinite;
  }
}

@keyframes lightFlash {
  49% {
    background: $recruitmentStatus;
    box-shadow: 0 0 .5em $recruitmentStatus;
  }
  50% {
    box-shadow: 0 0 0 transparent;
    background: darken($recruitmentStatus, 30%);
  }
  70% {
    box-shadow: 0 0 0 transparent;
    background: darken($recruitmentStatus, 30%);
  }
  71% {
    background: $recruitmentStatus;
    box-shadow: 0 0 .5em $recruitmentStatus;
  }
}
