@import './../styles/variables.scss';

#slider {
  background: $primary-900;
  padding-top: 2em;
  padding-bottom: 5em;
  overflow: hidden;

  .slide-holder {
    display: flex;
    flex-direction: row;
    transition: all .5s ease;
    margin-left: 0vw;

    .slide {
      background: $primary-100;
      height: 30em;
      width: 70vw;
      margin: 0 2.5vw 0 2.5vw;
      border-radius: 2em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      opacity: .6;

      &.is-active {
        opacity: 1;
      }

      h4 {
        a {
          font-size: .6em;
          font-weight: normal;
        }
      }

      .slide-status {
        position: absolute;
        top: 2em;
        left: 2em;

        .status {
          width: .75em;
          height: .75em;
          display: inline-block;
          border-radius: 1em;

          &.is-active {
            background: $rainbowGreen;
          }

          &.is-on-hold {
            background: $rainbowOrange;
          }

          &.is-ceased {
            background: $rainbowRed;
          }

          &.is-planning {
            background: $rainbowViolet;
          }
        }
      }
    }
  }
}
