@import './../styles/variables.scss';

.slider-menu {
  background: $primary-900;
  position: relative;

  .menu-title {
    font-weight: bold;
    background: $primary-50;
    border-radius: 1em;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
      box-shadow: 0 0 .5em .5em rgba(0,0,0,.18);


    .navbar-burger {
      display: inline-block;
      height: .5em;
      width: 1em;
      position: relative;
      top: -.1em;
      margin-right: .25em;
    }
  }

  .slider-menu-content {
    display: none;
    flex-direction: column;
    background: $primary-50;
    position: absolute;
    padding: 1em;
    border-radius: 0 2em 2em;
    top: 100%;
    left: 0%;
    z-index: 999;
    box-shadow: 0 .5em .5em .25em rgba(0,0,0,.18);

    li {
      padding: .5em 0em;
    }

    .menu-item {
      .slide-status {
        margin-right: .5em;
      }
    }

  }

  &.is-active {
    .slider-menu-content {
      display: inline-block;
    }
    .menu-title {
      border-radius: 1em 1em 0 0;
    }
  }
}

#slider {
  background: $primary-900;
  padding-top: 2em;
  padding-bottom: 5em;
  overflow: hidden;

  .slide-holder {
    display: flex;
    flex-direction: row;
    transition: all .5s ease;
    margin-left: 0vw;

    .slide {
      background: $primary-50;
      height: 30em;
      width: 70vw;
      margin: 0 2.5vw 0 2.5vw;
      border-radius: 2em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      opacity: .6;
      transition: opacity .5s ease;
      box-shadow: 0 0 .5em .5em rgba(0,0,0,.18);
      cursor: pointer;

      .slide-status {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 500;
        border-radius: 1em;
        padding: .25em 1em;
        color: $white;

        &.is-active {
          background: $rainbowGreen;
        }
    
        &.is-on-hold {
          background: $rainbowOrange;
        }
    
        &.is-ceased {
          background: $rainbowRed;
        }
    
        &.is-planning {
          background: $rainbowViolet;
        }
      }

      &.is-active {
        opacity: 1;
        cursor: inherit;
      }

      h4 {
        a {
          font-size: .6em;
          font-weight: normal;
        }
      }

      .slide-image {
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 2em;

        & + .content {
          z-index: 999;
          background: rgba(0,0,0,.8);
          padding: .5em;
          color: $white;
          border-radius: .5em;

          h4 {
            color: $white;
          }
        }
      }

      .slider-description-toggle {
        display: none;
      }

      @media only screen and (max-width: $tablet) {
        .slider-description-toggle {
          display: block;
        }

        .slider-description {
          display: none;

          &.is-active {
            display: block;
          }
        }
      }
    }
  }
}
.slide-status {
  .status {
    width: .75em;
    height: .75em;
    display: inline-block;
    border-radius: 1em;

    &.is-active {
      background: $rainbowGreen;
    }

    &.is-on-hold {
      background: $rainbowOrange;
    }

    &.is-ceased {
      background: $rainbowRed;
    }

    &.is-planning {
      background: $rainbowViolet;
    }
  }
}