@import './../styles/variables.scss';

$terminalBackground: #0A1704;
$terminalHeader: #000000;
$terminalBorder: 1em;
$terminalBar: #3D65D3;
$terminalBarAccents: #F45BEE;
$terminalText: #0D339D;
$terminalClose: #FF4746;
$terminalCloseBorder: #b81717;
$terminalMinimise: #FFBE00;
$terminalMinimiseBorder: #aa7813;
$terminalExpand: #00DB47;
$terminalExpandBorder: #0d791f;
$terminalButtonSize: .75em;


$rainbowRed: #FF0000;
$rainbowOrange: #FF7F00;
$rainbowYellow: #FFFF00;
$rainbowGreen: #00FF00;
$rainbowBlue: #0000FF;
$rainbowViolet: #4B0082;

.is-rainbow-red {
  color: $rainbowRed;
}
.is-rainbow-orange {
  color: $rainbowOrange;
}
.is-rainbow-yellow {
  color: $rainbowYellow;
}
.is-rainbow-green {
  color: $rainbowGreen;
}
.is-rainbow-blue {
  color: $rainbowBlue;
}
.is-rainbow-violet {
  color: $rainbowViolet;
}

#terminal {
  background: $terminalBackground;
  border-radius: $terminalBorder;
  box-shadow: 0 .5em 1em 1em rgba(0,0,0,.5);
  font-family: Monaco;
  width: 40vw;
  max-width: 40vw;

  @media only screen and (max-width: $tablet) {
    width: auto;
    max-width: inherit;
  }

  .terminal-header {
    background: $terminalHeader;
    border-radius: $terminalBorder $terminalBorder 0 0;

    .terminal-header-buttons {
      display: flex;
      flex-direction: row;
      padding: .5em 1em;

      .terminal-button {
        width: $terminalButtonSize;
        height: $terminalButtonSize;
        border-radius: 1em;
        margin-right: .5em;

        &.close {
          background: $terminalClose;
          border: 1px solid $terminalCloseBorder;
          position: relative;

          &:after {
            content: '';
            width: $terminalButtonSize / 3;
            height: $terminalButtonSize / 3;
            position: absolute;
            top: $terminalButtonSize / 4;
            left: $terminalButtonSize / 4;
            background: $terminalCloseBorder;
            border-radius: 1em;
          }
        }

        &.minimise {
          background: $terminalMinimise;
          border: 1px solid $terminalMinimiseBorder;
        }

        &.expand {
          background: $terminalExpand;
          border: 1px solid $terminalExpandBorder;
        }
      }
    }
  }

  .terminal-body {
    padding: 1em;
    color: $terminalText;
    height: 50vh;
    min-height: 30em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .has-text-weight-bold {
      color: lighten($terminalText, 10%);
    }

    .text-info {
      color: $terminalBarAccents;
    }
  }

  .terminal-tmux-bar {
    background: $terminalBar;
    border-radius: 0 0 $terminalBorder $terminalBorder;
    display: flex;
    flex-direction: row;
    color: $terminalText;
    font-size: .8em;

    p {
      color: $terminalText;
    }

    .screen, .name {
      background: $terminalBarAccents;
    }

    .battery {
      background: $terminalBackground;
    }

    .bar {
      flex-grow: 10;
    }

    .screen, .name, .battery, .bar {
      padding: .5em;
    }

    .screen {
      border-bottom-left-radius: $terminalBorder;
      padding-left: 1em;
    }

    .name {
      border-bottom-right-radius: $terminalBorder;
      padding-right: 1em;
    }
  }

  .terminal-control {
    color: $terminalText;

    .terminal-input {
      color: $terminalBarAccents;

      .field {
        .control.has-icons-left .icon {
          color: $terminalBarAccents;
          height: auto;
          width: auto;
        }

        .label {
          color: $terminalText;
          margin-bottom: 0;
        }

        .input {
          background: transparent;
          border: none;
          padding-top: 0;
          padding-left: 1em;
          font-family: monaco;
          color: $terminalText;
          caret-color: transparent;

          &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .cursor {
          background: $terminalText;
          width: .5em;
          height: 1.2em;
          display: inline-block;
          animation: flash 1s infinite;
          position: absolute;
          top: .25em;
          left: 1em;
        }
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
}
