$blockbuster-color: #ffaa01;

.section.is-blockbuster {
  background-color: #063daa;
  color: $blockbuster-color;
  padding-top: 4rem;

  .link {
    color: white;
    text-decoration: underline;

    &:hover {
      color: $blockbuster-color;
    }
  }

  .blockbuster-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 1024px) {
      .is-desktop {
        display: none;
      }
    }

    .blockbuster-text {
      color: $blockbuster-color;
    }

    .blockbuster-content {
      p {
        font-size: 1.2rem;
        line-height: 1;
      }
    }
  }

  .blockbuster-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      width: 100%;
      max-width: 600px;
      height: auto;
      display: block;

      @media screen and (max-width: 768px) {
        max-width: 90%;
      }

      @media screen and (max-width: 480px) {
        max-width: 80%;
      }

      // Ensure text elements scale with the SVG
      text {
        font-size: inherit;
      }

      // Ensure all groups and paths scale proportionally
      g {
        transform-box: fill-box;
      }
    }
  }

  .title {
    color: $blockbuster-color;
    margin-top: 2rem;
    margin-bottom: .25rem;

    &.late-fees {
      color: white;
      font-family: 'impact';
      font-size: 5rem;
      line-height: .85;
    }
  }

  path {
    fill: $blockbuster-color;
    filter: drop-shadow(0px 0px 3px $blockbuster-color);

    &:last-child {
      animation: blink 5s infinite;
    }

    &:first-child {
      animation: blink 7s infinite;
      animation-delay: 0.5s;
    }
  }

  .block-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: .5rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
      gap: 1.5rem;
    }

    .grid-item {
      width: 100%;
      box-shadow: 0px 0px .5rem .15rem rgba(0,0,0,0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &.is-dvd {
        aspect-ratio: 2 / 3;
      }

      &.is-game {
        aspect-ratio: 1 / 1;
      }

      .image {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    fill: #ffaa01;
    filter: drop-shadow(0px 0px 3px #ffaa01);
  }
  79% {
    fill: #ffaa01;
    filter: drop-shadow(0px 0px 3px #ffaa01);
  }
  80% {
    fill: #978664;
    filter: none;
  }
  82% {
    fill: #978664;
    filter: none;
  }
  83% {
    fill: #ffaa01;
    filter: drop-shadow(0px 0px 3px #ffaa01);
  }
  85% {
    fill: #ffaa01;
    filter: drop-shadow(0px 0px 3px #ffaa01);
  }
  86% {
    fill: #978664;
    filter: none;
  }
  89% {
    fill: #978664;
    filter: none;
  }
  90% {
    fill: #ffaa01;
    filter: drop-shadow(0px 0px 3px #ffaa01);
  }
}